$primary-colour: #0477C2;
$secondary-colour: #77c204;
$tertiary-colour: red;
$quaternary-colour: red;

$even-page-colour: #4CA3DD;
$odd-page-colour: white;

$default-input-colour: #888888;

$nav-links-colour: white;
$footer-text-colour: black;
$footer-brand-colour: white;

$countdown-text-colour: black;

$linear-gradient-colour: rgba(100, 100, 100, 0.6);

$btn-background-colour: white;
$validation-error-colour: red;

$cross-colour: rgb(200, 0, 0);
$tick-colour: rgb(0, 200, 0);
$edit-colour: rgb(200, 0, 200);

$yes-border-colour: green;
$no-border-colour: red;
$undefined-border-colour: blue;